html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  /* height: 14vh; */
  background-color: rgba(0, 0, 0, 0.703);
  position: fixed;
  z-index: 100;
  /*max-height: 14.5%;
  min-height: 2%;*/
  max-height: 14.5vh;
  min-height: 2vh;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
header:hover {
  background-color: rgba(0, 0, 0, 0.896);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .picNP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50vw;
}
.header .picNP .pic {
  width: 4.8vw;
  max-height: 100%;
  margin: 2% 0 0.5% 0%;
  display: inline-block;
}
.header .picNP .pic img {
  width: 100%;
  max-height: 105px;
}
.header .picNP a {
  display: inline-block;
  font-size: 2vw;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 2px 2px 2px black;
  padding-right: 5%;
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear;
}
.header .picNP a:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  text-shadow: 0 0 3px;
}
.header .menu {
  width: 50vw;
}
.header .menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  width: 100%;
}
.header .menu nav ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.header .menu nav ul li {
  list-style-type: none;
  margin-right: 20px;
  display: inline-block;
  text-shadow: 2px 2px 2px black;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.header .menu nav ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: 0 0 3px;
}
.header .menu nav ul li a {
  font-size: 2vw;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: white;
}

@media (min-width: 320px) and (max-width: 560px) {
  header .header .picNP {
    width: 15vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 2%;
  }
  header .header .picNP .pic {
    width: 5vh;
    height: 5vh;
    margin: 1.2% 0.5% 10% 7px;
  }
  header .header .picNP .pic img {
    max-height: 250px;
  }
  header .header .picNP .tbut {
    display: none;
    position: absolute;
  }
  header .header .menu {
    width: 85vw;
  }
  header .header .menu nav ul li {
    margin-right: 20px;
    text-shadow: 4px 4px 4px black;
  }
  header .header .menu nav ul li a {
    font-size: 3vw;
  }
}
@media (min-width: 560px) and (max-width: 1000px) {
  header .header .picNP {
    width: 15vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 2%;
  }
  header .header .picNP .pic {
    width: 7.5vh;
    height: 7.5vh;
    margin: 1.2% 0 8% 12px;
  }
  header .header .picNP .pic a {
    height: 100%;
    display: inline-block;
  }
  header .header .picNP .pic img {
    max-height: 250px;
  }
  header .header .picNP .tbut {
    display: none;
    position: absolute;
  }
  header .header .menu {
    width: 85vw;
  }
  header .header .menu nav ul li {
    margin-right: 25px;
    text-shadow: 4px 4px 4px black;
  }
  header .header .menu nav ul li a {
    font-size: 3.2vw;
  }
}
footer .footerFlex .part1 {
  padding-top: 1%;
  padding-bottom: 1%;
}
footer .footerFlex .part1 .part1Flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footerFlex .part1 .part1Flex .footInf {
  margin-left: 2vw;
  border-right: 2px solid black;
  width: 50vw;
}
footer .footerFlex .part1 .part1Flex .footInf .footInfFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
footer .footerFlex .part1 .part1Flex .footInf .footInfFlex h2 {
  font-size: 2.5vw;
  font-weight: normal;
  text-shadow: 2px 2px 2px black;
}
footer .footerFlex .part1 .part1Flex .footInf .footInfFlex p {
  font-size: 1.2vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  padding-right: 1vw;
  text-shadow: 1px 1px 1px black;
}
footer .footerFlex .part1 .part1Flex .footCont {
  width: 50vw;
  margin-left: 2vw;
}
footer .footerFlex .part1 .part1Flex .footCont .footContFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
footer .footerFlex .part1 .part1Flex .footCont .footContFlex .phNemail h2 {
  font-size: 2.5vw;
  font-weight: normal;
  text-shadow: 2px 2px 2px black;
}
footer .footerFlex .part1 .part1Flex .footCont .footContFlex .phNemail p {
  font-size: 1.2vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  text-shadow: 1px 1px 1px black;
}
footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages {
  margin-left: 2vw;
  padding-bottom: 0.5vh;
}
footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .youtube, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .inst, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .vk {
  width: 3vw;
  margin-right: 1vw;
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear;
}
footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .youtube:hover, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .inst:hover, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .vk:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .youtube svg, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .inst svg, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .vk svg {
  width: 100%;
}
footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .inst {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}
footer .footerFlex .part2 {
  background-color: black;
}
footer .footerFlex .part2 .part2Flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footerFlex .part2 .part2Flex p {
  font-size: 1.1vw;
}

@media (min-width: 560px) and (max-width: 1000px) {
  footer .footerFlex .part1 {
    padding-top: 1%;
    padding-bottom: 1%;
  }
  footer .footerFlex .part1 .part1Flex .footInf {
    margin-left: 2vw;
    border-right: 2px solid black;
    width: 50vw;
  }
  footer .footerFlex .part1 .part1Flex .footInf .footInfFlex h2 {
    font-size: 4vw;
    margin-bottom: 1vh;
  }
  footer .footerFlex .part1 .part1Flex .footInf .footInfFlex p {
    font-size: 2vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
  }
  footer .footerFlex .part1 .part1Flex .footCont {
    width: 50vw;
    margin-left: 2vw;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .phNemail h2 {
    font-size: 4vw;
    margin-bottom: 1vh;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .phNemail p {
    font-size: 2vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages {
    margin-left: 0vw;
    padding-bottom: 0.5vh;
    margin-top: 1.2vh;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex {
    width: 100%;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .youtube, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .inst, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .vk {
    width: 5.5vw;
    margin-right: 2.5vw;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .youtube svg, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .inst svg, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .vk svg {
    width: 100%;
  }
  footer .footerFlex .part2 .part2Flex p {
    font-size: 1.8vw;
  }
}
@media (min-width: 320px) and (max-width: 560px) {
  footer .footerFlex .part1 {
    padding-top: 0.5%;
    padding-bottom: 1%;
  }
  footer .footerFlex .part1 .part1Flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .footerFlex .part1 .part1Flex .footInf {
    margin-left: 4vw;
    border-bottom: 2px solid black;
    border-right: none;
    width: 92vw;
  }
  footer .footerFlex .part1 .part1Flex .footInf .footInfFlex h2 {
    font-size: 6.5vw;
    margin-bottom: 2.5vw;
  }
  footer .footerFlex .part1 .part1Flex .footInf .footInfFlex p {
    font-size: 3.5vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    padding-right: 5vw;
  }
  footer .footerFlex .part1 .part1Flex .footCont {
    width: 92vw;
    margin-left: 4vw;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .phNemail h2 {
    font-size: 6.5vw;
    margin-bottom: 2.5vw;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .phNemail p {
    font-size: 3.5vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages {
    margin-right: 2vw;
    margin-left: 0;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex {
    width: 100%;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .youtube, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .inst, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .vk {
    width: 8vw;
    margin-right: 2vw;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .youtube svg, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .inst svg, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .vk svg {
    width: 100%;
  }
  footer .footerFlex .part2 .part2Flex p {
    font-size: 2.7vw;
  }
}
@font-face {
  font-family: "Reem Kufi";
  src: url("fonts/ReemKufi-Regular.ttf");
}
::-webkit-scrollbar {
  width: 0;
}

.promej .promejFlex, .mainPerformance .picNOther .photo img, .allPerformances .mainPerformance .picNOther, .mainBlock .myBackgroundVideo {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: "Reem Kufi";
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #464646;
  background-attachment: fixed;
  margin: 0;
}

.mainBlock {
  width: 100vw;
  height: 100vh;
}
.mainBlock .myBackgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainBlock .mainText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  top: 72vh;
  position: relative;
  margin: auto;
}
.mainBlock .mainText .firstP {
  font-size: 6vw;
  text-shadow: 2px 2px 2px black;
  margin: 0;
}
.mainBlock .mainText .secondP {
  font-size: 2.5vw;
  margin: 0;
  margin-top: -2.5%;
  text-shadow: 1px 1px 1px black;
}

.allPerformances {
  margin-left: 0;
  margin-right: 0;
}
.allPerformances .mainPerformance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.allPerformances .mainPerformance .fbl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
}
.allPerformances .mainPerformance .fbl .inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 45px;
  margin-top: 50px;
  width: 50%;
}
.allPerformances .mainPerformance .fbl .inf .name {
  font-size: 4.5vw;
  margin-top: 0;
  margin-bottom: 25px;
}
.allPerformances .mainPerformance .fbl .inf .dop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: -20px;
}
.allPerformances .mainPerformance .fbl .inf .dop p {
  display: inline-block;
  font-size: 2vw;
}
.allPerformances .mainPerformance .fbl .inf .dop .Aut {
  margin-right: 35px;
}
.allPerformances .mainPerformance .fbl .dEl {
  width: 5vw;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  position: relative;
}
.allPerformances .mainPerformance .fbl .dEl img {
  display: inline-block;
  width: 100%;
  position: absolute;
  margin-top: -85%;
}
.allPerformances .mainPerformance .picNOther {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.allPerformances .mainPerformance .picNOther .el {
  width: 5vw;
  left: 0;
  margin-top: 1%;
  position: absolute;
}
.allPerformances .mainPerformance .picNOther .premNDate {
  display: inline-block;
  position: relative;
}
.allPerformances .mainPerformance .picNOther .premNDate .premiere {
  border-radius: 20px;
  width: 12vw;
  max-height: 7.5vh;
  margin-right: 8%;
  /* min-height: 6vh; */
  float: right;
  position: relative;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.allPerformances .mainPerformance .picNOther .premNDate .premiere p {
  font-size: 2.5vw;
  width: 95%;
  margin-top: -2px;
  margin-bottom: 0;
  text-align: center;
  padding: 2px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.allPerformances .mainPerformance .picNOther .premNDate .date {
  font-size: 5vw;
  float: right;
  position: relative;
  margin-right: 8%;
  margin-bottom: 0;
  margin-top: 20px;
  margin-bottom: -5%;
}

.mainPerformance .picNOther .photo {
  display: inline-block;
  position: relative;
  margin-top: 1%;
  width: 50%;
  margin-right: 40px;
}

.mainPerformance .picNOther .photo img {
  display: inline-block;
}

.promej {
  height: 20vh;
  padding-bottom: 0.5vh;
}
.promej .promejFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.promej .promejFlex .circNtext {
  width: 47.7%;
}
.promej .promejFlex .circNtext .circNtextFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.promej .promejFlex .circNtext .circNtextFlex .circ {
  margin-bottom: 1.25%;
  margin-left: 1%;
}
.promej .promejFlex .circNtext .circNtextFlex .circ svg {
  width: 1.8vw;
  display: inline-block;
  vertical-align: bottom;
}
.promej .promejFlex .circNtext .circNtextFlex .text {
  padding-left: 15px;
}
.promej .promejFlex .circNtext .circNtextFlex .text p {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.8vw;
}
.promej .promejFlex .dateNcirc {
  width: 52.3%;
}
.promej .promejFlex .dateNcirc .dateNcircFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.promej .promejFlex .dateNcirc .dateNcircFlex .date {
  font-size: 1.5vw;
  margin-top: 0;
  margin-bottom: 0;
}
.promej .promejFlex .dateNcirc .dateNcircFlex .date p {
  margin: 0;
}
.promej .promejFlex .dateNcirc .dateNcircFlex .circ {
  margin-right: 1%;
  margin-bottom: 1.25%;
}
.promej .promejFlex .dateNcirc .dateNcircFlex .circ svg {
  width: 1.8vw;
  display: inline-block;
  vertical-align: bottom;
}

.firstFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}
.firstFlex .date {
  margin-top: 0;
  margin-right: 0;
  padding-left: 10px;
}
.firstFlex .date .dFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.firstFlex .date .dFlex .numb {
  font-size: 3vw;
  margin-bottom: 0;
}
.firstFlex .date .dFlex .nan {
  font-size: 1.2vw;
  margin-bottom: 0;
}
.firstFlex .agNFlex {
  width: 50%;
}
.firstFlex .agNFlex .agFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -10px;
}
.firstFlex .agNFlex .agFlex .inf {
  height: 100%;
  margin-top: -13px;
}
.firstFlex .agNFlex .agFlex .inf .oneMoreFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.firstFlex .agNFlex .agFlex .inf .oneMoreFlex .name {
  margin-top: 0;
  margin-bottom: 0px;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.firstFlex .agNFlex .agFlex .inf .oneMoreFlex .name:hover {
  text-shadow: 0 0 4px;
}
.firstFlex .agNFlex .agFlex .inf .oneMoreFlex .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /* font-size: 2.5vw;*/
}
.firstFlex .agNFlex .agFlex .inf .oneMoreFlex .flex .notNames {
  margin-right: 25px;
}
.firstFlex .agNFlex .agFlex .inf .oneMoreFlex .flex .notNames .au {
  margin-bottom: 8px;
}
.firstFlex .agNFlex .agFlex .inf .oneMoreFlex .flex .fa {
  margin-bottom: 8px;
}
.firstFlex .agNFlex .agFlex .inf .oneMoreFlex .flex p {
  font-size: 1.2vw;
}
.firstFlex .agNFlex .agFlex .inf .age {
  padding-left: 10px;
}
.firstFlex .agNFlex .agFlex .place {
  border-radius: 20px;
  padding: 6px 25px 6px 25px;
  margin-bottom: 1.2%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.firstFlex .agNFlex .agFlex .place:hover {
  cursor: pointer;
}
.firstFlex .agNFlex .agFlex .place p {
  font-size: 1.5vw;
  margin-bottom: 0;
}
.firstFlex .pic {
  display: inline-block;
  position: relative;
  width: 25%;
}
.firstFlex .pic img {
  width: 100%;
}
.firstFlex p {
  margin-top: 0;
}

.inc, .dFlex, .inc2 {
  font-size: 2.8vw;
}

.au, .dir {
  color: #828282;
}

.time, .age {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2vw;
}

.thirdPer .pic, .fourthPer .pic, .seventhPer .pic, .eighthPer .pic {
  margin-left: 0.7vw;
}

.fifthPer .pic, .sixthPer .pic, .twelfthPer .pic {
  margin-left: -0.7vw;
}

.firstPer, .secondPer, .thirdPer, .fourthPer, .fifthPer, .sixthPer, .seventhPer, .eighthPer, .ninethPer, .tenthPer, .eleventhPer, .twelfthPer {
  padding-top: 2.5%;
  padding-bottom: 1%;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.firstPer .clocksSvg {
  position: relative;
  top: 1vh;
  display: inline-block;
  width: 13%;
}

.secondPer .clocksSvg {
  position: relative;
  top: 1vh;
  display: inline-block;
  width: 7.745%;
}

.thirdPer .clocksSvg {
  position: relative;
  top: 1vh;
  display: inline-block;
  width: 15.29%;
}

.fourthPer .clocksSvg {
  position: relative;
  top: 1vh;
  display: inline-block;
  width: 9%;
}

.fifthPer .clocksSvg {
  position: relative;
  top: 1vh;
  display: inline-block;
  width: 12.8%;
}

.sixthPer .clocksSvg {
  position: relative;
  top: 1vh;
  display: inline-block;
  width: 11.9%;
}

.seventhPer .clocksSvg {
  position: relative;
  top: 1vh;
  display: inline-block;
  width: 11.8%;
}

.eighthPer .clocksSvg {
  position: relative;
  top: 1vh;
  display: inline-block;
  width: 11.637%;
}

.ninethPer .clocksSvg {
  position: relative;
  top: 1vh;
  display: inline-block;
  width: 16.35%;
}

.tenthPer .clocksSvg {
  position: relative;
  top: 1vh;
  display: inline-block;
  width: 13%;
}

.eleventhPer .clocksSvg {
  position: relative;
  top: 1vh;
  display: inline-block;
  width: 13.8%;
}

.twelfthPer .clocksSvg {
  position: relative;
  top: 1vh;
  display: inline-block;
  width: 6.87%;
}

.firstPer:hover .agNFlex .agFlex .place, .secondPer:hover .agNFlex .agFlex .place, .thirdPer:hover .agNFlex .agFlex .place, .fourthPer:hover .agNFlex .agFlex .place, .fifthPer:hover .agNFlex .agFlex .place, .sixthPer:hover .agNFlex .agFlex .place, .seventhPer:hover .agNFlex .agFlex .place, .eighthPer:hover .agNFlex .agFlex .place, .ninethPer:hover .agNFlex .agFlex .place, .tenthPer:hover .agNFlex .agFlex .place, .eleventhPer:hover .agNFlex .agFlex .place, .twelfthPer:hover .agNFlex .agFlex .place {
  border-color: white;
}

.allPerformances .pic img {
  display: inline-block;
  border: 1px solid transparent;
  border-left: 0;
  border-right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.allPerformances .pic img:hover {
  -webkit-box-shadow: 0 -4px 7px -3px #EFEBE1;
          box-shadow: 0 -4px 7px -3px #EFEBE1;
}

.firstPer:hover .clocksSvg .secPic1, .secondPer:hover .clocksSvg .secPic2, .thirdPer:hover .clocksSvg .secPic3, .fourthPer:hover .clocksSvg .secPic4, .fifthPer:hover .clocksSvg .secPic5, .sixthPer:hover .clocksSvg .secPic6, .seventhPer:hover .clocksSvg .secPic7, .eighthPer:hover .clocksSvg .secPic8, .ninethPer:hover .clocksSvg .secPic9, .tenthPer:hover .clocksSvg .secPic10, .eleventhPer:hover .clocksSvg .secPic11, .twelfthPer:hover .clocksSvg .secPic12 {
  opacity: 1;
}

.firstPer:hover .clocksSvg .firPic1, .secondPer:hover .clocksSvg .firPic2, .thirdPer:hover .clocksSvg .firPic3, .fourthPer:hover .clocksSvg .firPic4, .firthPer:hover .clocksSvg .firPic5, .sixthPer:hover .clocksSvg .firPic6, .seventhPer:hover .clocksSvg .firPic7, .eighthPer:hover .clocksSvg .firPic8, .ninethPer:hover .clocksSvg .firPic9, .tenthPer:hover .clocksSvg .firPic10, .eleventhPer:hover .clocksSvg .firPic11, .twelfthPer:hover .clocksSvg .firPic12 {
  opacity: 0;
}

.secPic1, .secPic2, .secPic3, .secPic4, .secPic5, .secPic6, .secPic7, .secPic8, .secPic9, .secPic10, .secPic11, .secPic12 {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.firPic1, .firPic2, .firPic3, .firPic4, .firPic5, .firPic6, .firPic7, .firPic8, .firPic9, .firPic10, .firPic11, .firPic12 {
  position: absolute;
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 100%;
  bottom: 0;
}

.thIs {
  padding-top: 7vh;
  padding-bottom: 10vh;
}

.thIs2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thIs .thIs2 .text {
  width: 50%;
  position: relative;
}
.thIs .thIs2 .text div {
  position: absolute;
  top: 25%;
  font-size: 2vw;
  right: 42.8%;
}
.thIs .thIs2 .text .secPic {
  width: 5%;
}
.thIs .thIs2 .text p {
  font-size: 2vw;
  text-align: center;
}
.thIs .thIs2 .text img {
  width: 100%;
}

.fEl, .sEl {
  width: 100%;
}

.sEl {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.words {
  overflow: hidden;
}

.firstWord, .secondWord, .thirdWord, .fourthWord, .fifthWord, .sixthWord, .seventhWord {
  width: 100%;
  position: relative;
  left: -2%;
}

.firstWordFlex, .secondWordFlex, .thirdWordFlex, .fourthWordFlex, .fifthWordFlex, .sixthWordFlex, .seventhWordFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.secondWord, .fourthWord, .sixthWord {
  margin-left: -100%;
}

.secondWord {
  left: -2%;
}

.thirdWord {
  left: -1.3%;
}

.fifthWord {
  left: -7%;
}

.seventhWord {
  left: 1%;
}

.firstWordFlex span, .secondWordFlex span, .thirdWordFlex span, .fourthWordFlex span, .fifthWordFlex span, .sixthWordFlex span, .seventhWordFlex span {
  font-size: 5vw;
  color: #252525;
}

.firstWordFlex .obch {
  -webkit-animation: obch1 29s infinite ease-in-out;
          animation: obch1 29s infinite ease-in-out;
}

.secondWordFlex .obch {
  -webkit-animation: obch2 32.875s infinite ease-in-out;
          animation: obch2 32.875s infinite ease-in-out;
}

.thirdWordFlex .obch {
  -webkit-animation: obch3 25.125s infinite ease-in-out;
          animation: obch3 25.125s infinite ease-in-out;
}

.fourthWordFlex .obch {
  -webkit-animation: obch4 31.75s infinite ease-in-out;
          animation: obch4 31.75s infinite ease-in-out;
}

.fifthWordFlex .obch {
  -webkit-animation: obch5 28.625s infinite ease-in-out;
          animation: obch5 28.625s infinite ease-in-out;
}

.sixthWordFlex .obch {
  -webkit-animation: obch6 26.65s infinite ease-in-out;
          animation: obch6 26.65s infinite ease-in-out;
}

.seventhWordFlex .obch {
  -webkit-animation: obch7 29.375s infinite ease-in-out;
          animation: obch7 29.375s infinite ease-in-out;
}

.firstWordFlex .ph, .secondWordFlex .ph, .thirdWordFlex .ph, .fourthWordFlex .ph, .fifthWordFlex .ph, .sixthWordFlex .ph, .seventhWordFlex .ph {
  display: inline-block;
  width: 5vw;
  padding-top: 0.6%;
}

.ph {
  display: inline-block;
}

.firstWordFlex div svg, .secondWordFlex div svg, .thirdWordFlex div svg, .fourthWordFlex div svg, .fifthWordFlex div svg, .sixthWordFlex div svg, .seventhWordFlex div svg {
  width: 4vw;
  vertical-align: middle;
}

.firstWordFlex span, .firstWordFlex .ph, .secondWordFlex span, .secondWordFlex .ph, .thirdWordFlex span, .thirdWordFlex .ph, .fourthWordFlex span, .fourthWordFlex .ph, .fifthWordFlex span, .fifthWordFlex .ph, .sixthWordFlex span, .sixthWordFlex .ph, .seventhWordFlex span, .seventhWordFlex .ph {
  display: inline-block;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

.obchFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.obchFlex .mysp, .obchFlexx .ph {
  margin-top: -2.2%;
  margin-left: 0.6vw;
  margin-right: 1.25vw;
  display: inline-block;
}

@-webkit-keyframes obch1 {
  from {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  50% {
    -webkit-transform: translate(-360%, 0);
            transform: translate(-360%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes obch1 {
  from {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  50% {
    -webkit-transform: translate(-360%, 0);
            transform: translate(-360%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes obch2 {
  from {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  50% {
    -webkit-transform: translate(280%, 0);
            transform: translate(280%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes obch2 {
  from {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  50% {
    -webkit-transform: translate(280%, 0);
            transform: translate(280%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes obch3 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-325%, 0);
            transform: translate(-325%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes obch3 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-325%, 0);
            transform: translate(-325%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes obch4 {
  from {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  50% {
    -webkit-transform: translate(230%, 0);
            transform: translate(230%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes obch4 {
  from {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  50% {
    -webkit-transform: translate(230%, 0);
            transform: translate(230%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes obch5 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-270%, 0);
            transform: translate(-270%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes obch5 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-270%, 0);
            transform: translate(-270%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes obch6 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(260%, 0);
            transform: translate(260%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes obch6 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(260%, 0);
            transform: translate(260%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes obch7 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-350%, 0);
            transform: translate(-350%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes obch7 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-350%, 0);
            transform: translate(-350%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.words {
  font-family: "Times New Roman", Times, serif;
}

.wordsFlex > div {
  margin-bottom: 2vh;
}

@media (min-width: 560px) and (max-width: 1000px) {
  .mainBlock {
    height: 101vh;
  }
  .mainBlock .myBackgroundVideo {
    height: 101vh;
    width: 200vw;
    top: 0;
    left: -100vw;
  }
  .mainBlock .mainText {
    width: 95%;
    top: 60vh;
  }
  .mainBlock .mainText .firstP {
    font-size: 8vw;
    text-shadow: 4px 4px 4px black;
  }
  .mainBlock .mainText .secondP {
    font-size: 4.5vw;
    text-shadow: 2px 2px 2px black;
  }

  .allPerformances .mainPerformance .fbl .inf {
    width: 75%;
  }
  .allPerformances .mainPerformance .fbl .inf .name {
    font-size: 7vw;
  }
  .allPerformances .mainPerformance .fbl .inf .dop p {
    font-size: 3vw;
  }
  .allPerformances .mainPerformance .fbl .dEl {
    width: 6vw;
  }
  .allPerformances .mainPerformance .picNOther .el {
    width: 6vw;
    margin-top: -27%;
  }
  .allPerformances .mainPerformance .picNOther .premNDate .premiere {
    border: 3px solid black;
    border-radius: 30px;
    width: 18vw;
    max-height: 11.25vw;
  }
  .allPerformances .mainPerformance .picNOther .premNDate .premiere p {
    font-size: 3.75vw;
    margin-top: -3px;
    padding: 3px;
  }
  .allPerformances .mainPerformance .picNOther .premNDate .date {
    font-size: 7.5vw;
    margin-top: 20px;
  }

  .promej {
    height: 10vh;
    padding-bottom: 0.25vh;
  }
  .promej .promejFlex .circNtext {
    width: 50%;
  }
  .promej .promejFlex .circNtext .circNtextFlex .circ {
    margin-bottom: 2.7%;
  }
  .promej .promejFlex .circNtext .circNtextFlex .circ svg {
    width: 2.7vw;
  }
  .promej .promejFlex .circNtext .circNtextFlex .text {
    padding-left: 12px;
  }
  .promej .promejFlex .circNtext .circNtextFlex .text p {
    font-size: 3.5vw;
  }
  .promej .promejFlex .dateNcirc .dateNcircFlex .date {
    font-size: 3vw;
  }
  .promej .promejFlex .dateNcirc .dateNcircFlex .circ {
    margin-bottom: 2.7%;
  }
  .promej .promejFlex .dateNcirc .dateNcircFlex .circ svg {
    width: 2.7vw;
  }

  .firstFlex .date {
    padding-left: 6px;
  }
  .firstFlex .date .dFlex .numb {
    font-size: 3.8vw;
  }
  .firstFlex .date .dFlex .nan {
    font-size: 1.9vw;
  }
  .firstFlex .pic {
    width: 33.5%;
    padding-right: 1%;
  }
  .firstFlex .agNFlex .agFlex .inf {
    margin-top: -19.5px;
    max-width: 60%;
  }
  .firstFlex .agNFlex .agFlex .inf .oneMoreFlex .flex .notNames {
    margin-right: 37.5px;
  }
  .firstFlex .agNFlex .agFlex .inf .oneMoreFlex .flex .notNames .au {
    margin-bottom: 12px;
  }
  .firstFlex .agNFlex .agFlex .inf .oneMoreFlex .flex .fa {
    margin-bottom: 12px;
  }
  .firstFlex .agNFlex .agFlex .inf .oneMoreFlex .flex p {
    font-size: 1.8vw;
  }
  .firstFlex .agNFlex .agFlex .inf .age {
    padding-left: 15px;
  }
  .firstFlex .agNFlex .agFlex .place {
    border: 3px solid black;
    border-radius: 20px;
    padding: 6px 25px 6px 25px;
  }
  .firstFlex .agNFlex .agFlex .place p {
    font-size: 2vw;
  }

  .inc, .dFlex, .inc2 {
    font-size: 3.8vw;
  }

  .time, .age {
    font-size: 1.8vw;
  }

  .thirdPer .pic, .fourthPer .pic, .seventhPer .pic, .eighthPer .pic {
    margin-left: 1.05vw;
  }

  .fifthPer .pic, .sixthPer .pic, .twelfthPer .pic {
    margin-left: -1.05vw;
  }

  .firstPer, .secondPer, .thirdPer, .fourthPer, .fifthPer, .sixthPer, .seventhPer, .eighthPer, .ninethPer, .tenthPer, .eleventhPer, .twelfthPer {
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-width: 3px 0 3px 0;
  }

  .firstPer .clocksSvg, .secondPer .clocksSvg, .thirdPer .clocksSvg, .fourthPer .clocksSvg, .fifthPer .clocksSvg, .sixthPer .clocksSvg, .seventhPer .clocksSvg, .eighthPer .clocksSvg, .ninethPer .clocksSvg, .tenthPer .clocksSvg, .eleventhPer .clocksSvg, .twelfthPer .clocksSvg {
    top: 0.5vh;
  }

  .allPerformances .pic img {
    border: 1.5px solid transparent;
  }

  .allPerformances .pic img:hover {
    -webkit-box-shadow: 0 -6px 10.5px -4.5px #EFEBE1;
            box-shadow: 0 -6px 10.5px -4.5px #EFEBE1;
  }

  .firstPer .clocksSvg {
    width: 9.8%;
    top: 0.25vh;
  }

  .secondPer .clocksSvg {
    width: 7.745%;
    top: 0.25vh;
  }

  .thirdPer .clocksSvg {
    width: 10.25%;
    top: 0.25vh;
  }

  .fourthPer .clocksSvg {
    width: 7.75%;
    top: 0.25vh;
  }

  .fifthPer .clocksSvg {
    width: 9.03%;
    top: 0.25vh;
  }

  .sixthPer .clocksSvg {
    width: 9.7%;
    top: 0.25vh;
  }

  .seventhPer .clocksSvg {
    width: 9.85%;
    top: 0.25vh;
  }

  .eighthPer .clocksSvg {
    width: 9.18%;
    top: 0.25vh;
  }

  .ninethPer .clocksSvg {
    width: 11.86%;
    top: 0.25vh;
  }

  .tenthPer .clocksSvg {
    width: 9.215%;
    top: 0.25vh;
  }

  .eleventhPer .clocksSvg {
    width: 9.69%;
    top: 0.25vh;
  }

  .twelfthPer .clocksSvg {
    width: 7.75%;
    top: 0.25vh;
  }

  .thIs {
    padding-top: 3.5vh;
    padding-bottom: 5vh;
  }
  .thIs .thIs2 .text div {
    font-size: 3vw;
    top: 10%;
    right: 39%;
  }

  .firstWordFlex span, .secondWordFlex span, .thirdWordFlex span, .fourthWordFlex span, .fifthWordFlex span, .sixthWordFlex span, .seventhWordFlex span {
    font-size: 7.5vw;
    color: black;
  }

  .firstWordFlex .ph, .secondWordFlex .ph, .thirdWordFlex .ph, .fourthWordFlex .ph, .fifthWordFlex .ph, .sixthWordFlex .ph, .seventhWordFlex .ph {
    width: 7.5vw;
  }

  .firstWordFlex div svg, .secondWordFlex div svg, .thirdWordFlex div svg, .fourthWordFlex div svg, .fifthWordFlex div svg, .sixthWordFlex div svg, .seventhWordFlex div svg {
    width: 6vw;
  }

  .obchFlex .mysp, .obchFlexx .ph {
    margin-left: 0.9vw;
    margin-right: 1.875vw;
  }

  @-webkit-keyframes obch2 {
    from {
      -webkit-transform: translate(0%, 0);
              transform: translate(0%, 0);
    }
    50% {
      -webkit-transform: translate(200%, 0);
              transform: translate(200%, 0);
    }
    to {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }

  @keyframes obch2 {
    from {
      -webkit-transform: translate(0%, 0);
              transform: translate(0%, 0);
    }
    50% {
      -webkit-transform: translate(200%, 0);
              transform: translate(200%, 0);
    }
    to {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  @-webkit-keyframes obch4 {
    from {
      -webkit-transform: translate(0%, 0);
              transform: translate(0%, 0);
    }
    50% {
      -webkit-transform: translate(180%, 0);
              transform: translate(180%, 0);
    }
    to {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  @keyframes obch4 {
    from {
      -webkit-transform: translate(0%, 0);
              transform: translate(0%, 0);
    }
    50% {
      -webkit-transform: translate(180%, 0);
              transform: translate(180%, 0);
    }
    to {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  @-webkit-keyframes obch6 {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(210%, 0);
              transform: translate(210%, 0);
    }
    to {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  @keyframes obch6 {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(210%, 0);
              transform: translate(210%, 0);
    }
    to {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  .wordsFlex > div {
    margin-bottom: 2.5vh;
  }
}
@media (min-width: 320px) and (max-width: 560px) {
  .mainBlock {
    height: 101vh;
    width: 100%;
    overflow: hidden;
  }
  .mainBlock .myBackgroundVideo {
    height: 101vh;
    width: 280vw;
    top: 0;
    left: -180vw;
  }
  .mainBlock .mainText {
    top: 50vh;
    width: 100%;
  }
  .mainBlock .mainText .firstP {
    font-size: 8vw;
    text-shadow: 6px 6px 6px black;
  }
  .mainBlock .mainText .secondP {
    font-size: 5vw;
    text-shadow: 3px 3px 3px black;
  }

  .allPerformances .mainPerformance .fbl .inf {
    width: 100%;
    margin-left: 20px;
    margin-top: 25px;
  }
  .allPerformances .mainPerformance .fbl .inf .name {
    font-size: 9vw;
  }
  .allPerformances .mainPerformance .fbl .inf .dop p {
    font-size: 3.5vw;
    margin-top: 0;
  }
  .allPerformances .mainPerformance .fbl .dEl {
    position: absolute;
    display: none;
  }
  .allPerformances .mainPerformance .picNOther {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .allPerformances .mainPerformance .picNOther .el {
    width: 10vw;
    margin-top: -77%;
  }
  .allPerformances .mainPerformance .picNOther .premNDate {
    margin-right: 10px;
    margin-top: 20px;
  }
  .allPerformances .mainPerformance .picNOther .premNDate .premiere {
    border: 3px solid black;
    border-radius: 30px;
    width: 25vw;
    max-height: 11.25vw;
  }
  .allPerformances .mainPerformance .picNOther .premNDate .premiere p {
    font-size: 4.5vw;
    margin-top: 3px;
    padding: 1px;
  }
  .allPerformances .mainPerformance .picNOther .premNDate .date {
    font-size: 10vw;
    margin-top: 5px;
  }

  .mainPerformance .picNOther .photo {
    margin-top: 3%;
    width: 90%;
    margin-right: 25px;
  }

  .promej {
    height: 7vh;
    padding-bottom: 0.25vh;
  }
  .promej .promejFlex .circNtext {
    width: 50%;
  }
  .promej .promejFlex .circNtext .circNtextFlex .circ {
    margin-bottom: 2.7%;
  }
  .promej .promejFlex .circNtext .circNtextFlex .circ svg {
    width: 2.7vw;
  }
  .promej .promejFlex .circNtext .circNtextFlex .text {
    padding-left: 12px;
  }
  .promej .promejFlex .circNtext .circNtextFlex .text p {
    font-size: 3.5vw;
  }
  .promej .promejFlex .dateNcirc .dateNcircFlex .date {
    font-size: 3vw;
  }
  .promej .promejFlex .dateNcirc .dateNcircFlex .circ {
    margin-bottom: 2.7%;
  }
  .promej .promejFlex .dateNcirc .dateNcircFlex .circ svg {
    width: 2.7vw;
  }

  .firstFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .firstFlex .date {
    padding-left: 6px;
    position: absolute;
    display: none;
  }
  .firstFlex .pic {
    width: 90%;
    padding-right: 1%;
    padding-left: 5%;
  }
  .firstFlex .agNFlex {
    width: 90%;
    margin-left: 5%;
  }
  .firstFlex .agNFlex .agFlex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .firstFlex .agNFlex .agFlex .inf {
    margin-top: 9.5px;
    max-width: 80%;
  }
  .firstFlex .agNFlex .agFlex .inf .oneMoreFlex .flex .notNames {
    margin-right: 37.5px;
  }
  .firstFlex .agNFlex .agFlex .inf .oneMoreFlex .flex .notNames .au {
    margin-bottom: 12px;
  }
  .firstFlex .agNFlex .agFlex .inf .oneMoreFlex .flex .fa {
    margin-bottom: 12px;
  }
  .firstFlex .agNFlex .agFlex .inf .oneMoreFlex .flex p {
    font-size: 3vw;
  }
  .firstFlex .agNFlex .agFlex .inf .age {
    padding-left: 15px;
  }
  .firstFlex .agNFlex .agFlex .place {
    border: 2px solid black;
    border-radius: 20px;
    padding: 4.5px 18px 4px 18px;
  }
  .firstFlex .agNFlex .agFlex .place p {
    font-size: 3vw;
  }

  .inc, .dFlex, .inc2 {
    font-size: 5.6vw;
  }

  .time, .age {
    font-size: 3vw;
  }

  .thirdPer .pic, .fourthPer .pic, .seventhPer .pic, .eighthPer .pic, .fifthPer .pic, .sixthPer .pic, .twelfthPer .pic {
    margin-left: -0.7vw;
  }

  .firstPer, .secondPer, .thirdPer, .fourthPer, .fifthPer, .sixthPer, .seventhPer, .eighthPer, .ninethPer, .tenthPer, .eleventhPer, .twelfthPer {
    border: solid black;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-width: 1px 0 1px 0;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }

  .firstPer .clocksSvg, .secondPer .clocksSvg, .thirdPer .clocksSvg, .fourthPer .clocksSvg, .fifthPer .clocksSvg, .sixthPer .clocksSvg, .seventhPer .clocksSvg, .eighthPer .clocksSvg, .ninethPer .clocksSvg, .tenthPer .clocksSvg, .eleventhPer .clocksSvg, .twelfthPer .clocksSvg {
    top: 0.5vh;
  }

  .allPerformances .pic img {
    border: 1.5px solid transparent;
  }

  .allPerformances .pic img:hover {
    -webkit-box-shadow: 0 -6px 10.5px -4.5px #EFEBE1;
            box-shadow: 0 -6px 10.5px -4.5px #EFEBE1;
  }

  .firstPer .clocksSvg {
    width: 9.8%;
  }

  .secondPer .clocksSvg {
    width: 7.66%;
  }

  .thirdPer .clocksSvg {
    width: 10.23%;
  }

  .fourthPer .clocksSvg {
    width: 9.63%;
  }

  .fifthPer .clocksSvg {
    width: 9.085%;
  }

  .sixthPer .clocksSvg {
    width: 9.7%;
  }

  .seventhPer .clocksSvg {
    width: 9.845%;
  }

  .eighthPer .clocksSvg {
    width: 9.237%;
  }

  .ninethPer .clocksSvg {
    width: 11.63%;
  }

  .tenthPer .clocksSvg {
    width: 9.26%;
  }

  .eleventhPer .clocksSvg {
    width: 9.7%;
  }

  .twelfthPer .clocksSvg {
    width: 7.36%;
  }

  .thIs {
    padding-top: 1.5vh;
    padding-bottom: 3vh;
  }
  .thIs .thIs2 .firPic {
    width: 9vw;
  }
  .thIs .thIs2 .text div {
    font-size: 3vw;
    top: 10%;
    right: 39%;
  }
  .thIs .thIs2 .secPic {
    width: 9vw;
  }

  .firstWordFlex span, .secondWordFlex span, .thirdWordFlex span, .fourthWordFlex span, .fifthWordFlex span, .sixthWordFlex span, .seventhWordFlex span {
    font-size: 8.625vw;
    color: black;
  }

  .firstWordFlex .ph, .secondWordFlex .ph, .thirdWordFlex .ph, .fourthWordFlex .ph, .fifthWordFlex .ph, .sixthWordFlex .ph, .seventhWordFlex .ph {
    width: 8.625vw;
  }

  .firstWordFlex div svg, .secondWordFlex div svg, .thirdWordFlex div svg, .fourthWordFlex div svg, .fifthWordFlex div svg, .sixthWordFlex div svg, .seventhWordFlex div svg {
    width: 6.9vw;
  }

  .obchFlex .mysp, .obchFlexx .ph {
    margin-left: 0.9vw;
    margin-right: 1.875vw;
  }

  @-webkit-keyframes obch2 {
    from {
      -webkit-transform: translate(0%, 0);
              transform: translate(0%, 0);
    }
    50% {
      -webkit-transform: translate(160%, 0);
              transform: translate(160%, 0);
    }
    to {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }

  @keyframes obch2 {
    from {
      -webkit-transform: translate(0%, 0);
              transform: translate(0%, 0);
    }
    50% {
      -webkit-transform: translate(160%, 0);
              transform: translate(160%, 0);
    }
    to {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  @-webkit-keyframes obch4 {
    from {
      -webkit-transform: translate(0%, 0);
              transform: translate(0%, 0);
    }
    50% {
      -webkit-transform: translate(150%, 0);
              transform: translate(150%, 0);
    }
    to {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  @keyframes obch4 {
    from {
      -webkit-transform: translate(0%, 0);
              transform: translate(0%, 0);
    }
    50% {
      -webkit-transform: translate(150%, 0);
              transform: translate(150%, 0);
    }
    to {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  @-webkit-keyframes obch6 {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(170%, 0);
              transform: translate(170%, 0);
    }
    to {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  @keyframes obch6 {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(170%, 0);
              transform: translate(170%, 0);
    }
    to {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  .wordsFlex > div {
    margin-bottom: 2.5vh;
  }
}