footer .footerFlex .part1 {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #272727;
}
footer .footerFlex .part1 .part1Flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footerFlex .part1 .part1Flex .footInf {
  margin-left: 2vw;
  border-right: 2px solid black;
  width: 50vw;
}
footer .footerFlex .part1 .part1Flex .footInf .footInfFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
footer .footerFlex .part1 .part1Flex .footInf .footInfFlex h2 {
  font-size: 2.5vw;
  font-weight: normal;
  text-shadow: 2px 2px 2px black;
}
footer .footerFlex .part1 .part1Flex .footInf .footInfFlex p {
  font-size: 1.2vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  padding-right: 1vw;
  text-shadow: 1px 1px 1px black;
}
footer .footerFlex .part1 .part1Flex .footCont {
  width: 50vw;
  margin-left: 2vw;
}
footer .footerFlex .part1 .part1Flex .footCont .footContFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
footer .footerFlex .part1 .part1Flex .footCont .footContFlex .phNemail h2 {
  font-size: 2.5vw;
  font-weight: normal;
  text-shadow: 2px 2px 2px black;
}
footer .footerFlex .part1 .part1Flex .footCont .footContFlex .phNemail p {
  font-size: 1.2vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  text-shadow: 1px 1px 1px black;
}
footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages {
  margin-left: 2vw;
  padding-bottom: 0.5vh;
}
footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .youtube, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .inst, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .vk {
  width: 3vw;
  margin-right: 1vw;
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear;
}
footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .youtube img, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .inst img, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .vk img {
  width: 100%;
}
footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .youtube:hover, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .inst:hover, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .vk:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .inst {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}
footer .footerFlex .part2 {
  background-color: black;
}
footer .footerFlex .part2 .part2Flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footerFlex .part2 .part2Flex p {
  font-size: 1.1vw;
}

@media (min-width: 560px) and (max-width: 1000px) {
  footer .footerFlex .part1 {
    padding-top: 1%;
    padding-bottom: 1%;
  }
  footer .footerFlex .part1 .part1Flex .footInf {
    margin-left: 2vw;
    border-right: 2px solid black;
    width: 50vw;
  }
  footer .footerFlex .part1 .part1Flex .footInf .footInfFlex h2 {
    font-size: 4vw;
    margin-bottom: 1vh;
  }
  footer .footerFlex .part1 .part1Flex .footInf .footInfFlex p {
    font-size: 2vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
  }
  footer .footerFlex .part1 .part1Flex .footCont {
    width: 50vw;
    margin-left: 2vw;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .phNemail h2 {
    font-size: 4vw;
    margin-bottom: 1vh;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .phNemail p {
    font-size: 2vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages {
    margin-left: 0vw;
    padding-bottom: 0.5vh;
    margin-top: 1.2vh;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex {
    width: 100%;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .youtube, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .inst, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .vk {
    width: 5.5vw;
    margin-right: 2.5vw;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .youtube img, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .inst img, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .vk img {
    width: 100%;
  }
  footer .footerFlex .part2 .part2Flex p {
    font-size: 1.8vw;
  }
}
@media (min-width: 320px) and (max-width: 560px) {
  footer .footerFlex .part1 {
    padding-top: 0.5%;
    padding-bottom: 1%;
  }
  footer .footerFlex .part1 .part1Flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .footerFlex .part1 .part1Flex .footInf {
    margin-left: 4vw;
    border-bottom: 2px solid black;
    border-right: none;
    width: 92vw;
  }
  footer .footerFlex .part1 .part1Flex .footInf .footInfFlex h2 {
    font-size: 6.5vw;
    margin-bottom: 2.5vw;
  }
  footer .footerFlex .part1 .part1Flex .footInf .footInfFlex p {
    font-size: 3.5vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    padding-right: 5vw;
  }
  footer .footerFlex .part1 .part1Flex .footCont {
    width: 92vw;
    margin-left: 4vw;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .phNemail h2 {
    font-size: 6.5vw;
    margin-bottom: 2.5vw;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .phNemail p {
    font-size: 3.5vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages {
    margin: 0.6vh 3vw 0 0;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex {
    width: 100%;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .youtube, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .inst, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .vk {
    width: 8vw;
    margin-right: 2vw;
  }
  footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .youtube img, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .inst img, footer .footerFlex .part1 .part1Flex .footCont .footContFlex .messages .messagesFlex .vk img {
    width: 100%;
  }
  footer .footerFlex .part2 .part2Flex p {
    font-size: 2.7vw;
  }
}
/*# sourceMappingURL=footer.css.map */